
.add-section {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    form {
        flex:4;
    }
    .add-btn {
        flex: 1;
    }
    .space {
        flex: 1;
    }

}
.tag-add-section {
    display: flex;
    justify-content: flex-end;
    margin-right: 8em;
}
.input-form{
    .input-wrapper{
        display: flex;
        flex-flow: column;
    }
}
.pagination-wrapper {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}
.add-btn {
    background-color: $primary-color;
    color: white;
    font-weight: bolder;
}
input[type=checkbox]
{
  -webkit-appearance:checkbox;
  width: 10px !important;
  height: 10px !important;
  margin-right: 0.5em;
  margin-top: 0.2em !important;

}

input[type=file]
{
    padding: 0em !important;
}
label {
    color: $primary-color;
}
.category-wrapper {
    display: flex;
    width: 40em;
    flex-wrap: wrap;
    div {
        margin-right: 0.5em;
        display: flex;
    }

}
.search-form {
    .search-box-wrapper {
        display: flex;
        background-color: white;
        padding: 0.5em;
        height: 3em;
        margin-right: 1em;
        svg {
            width: 30px;
            height: 30px;
        }
        input {
            flex: 8;
        }
        button {
            flex: 1;
        }
    }
}

.input-form {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    .input-wrapper {
        width: 40em;

        input {
            width: 40em ;
            padding: 1em;
            margin-top: 1em;
        }
        textarea{
            margin-top: 1em;
        }
        select {
            margin-top: 1em;
        }
        .checkbox{
            width: 1em;
            height: 1em;
            -webkit-appearance:checkbox !important;
        }
        .preview-image {
            margin-top: 1em;
            margin-bottom: 1em;
            border-radius: 5px;
            object-fit: cover;
        }
    }
}
.store-btn-wrapper{
    margin-top: 3em;
    justify-content: flex-end;
    display: flex;
}
.movies {
    .movie-list{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;

        .movie-item{
            height: 250px;
            width: 200px;
            position: relative;
            margin: 1em;
            padding: 1em;

            img {
                width: 200px;
                height: 250px;
                object-fit: contain;
            }

            .title {
                top: 1%;
                left: 5%;
                position: absolute;
                color: white;
                padding: 0.5em;
                font-weight: bolder;
            }
            .year {
                bottom: 1%;
                right: 3%;
                position: absolute;
                color: $primary-color;
                font-weight: bolder;
            }
        }
    }
}

    .serie-list{
        display: flex;
        flex-wrap: wrap !important;
        flex-flow: row;

        .serie-item:hover {
            border:2px solid $primary-color;
        }

        .serie-item {
            width: 200px;
            height: 250px;
            position: relative;
            background-color: $primary-color;
            margin: 1em;
            border-radius: 5px;
            //padding: 1em;
            background-size: cover;

            span {
                color: yellow;
            }
            .title {
                top: 1%;
                left: 3%;
                position: absolute;
                color: white;
                padding: 0.5em;
                font-weight: bolder;
            }
            .actions {
                bottom: 15%;
                right: 0%;
                position: absolute;
                background: rgba(76, 175, 80, 0.3) ;
                padding: 0.2em 0.5em 0.2em 0.5em;
                i {
                    font-weight: bolder;
                }
                .fa-trash {
                    color: red;
                    margin-right: 0.7em;
                }
                .fa-pencil {
                    color: white;
                }
            }
            .info {
                color: white;
                width: 100%;
                bottom: 0%;
                position: absolute;
                display: flex;
                justify-content: space-between;
                padding: 0.5em;
                background: rgba(76, 175, 80, 0.3) ;
                font-weight: bolder;
                font-size: smaller;
                text-align: right;
            }

        }
    }

.page-item.active {
    z-index: 0 !important;
}
.modal-wrapper{
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px;
   /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50em;
    min-height: 30em;
    height: fit-content;
    z-index: 10000;
    margin-bottom: 2em;

    .header-wrapper {
        display: flex;
        justify-content: space-between;

        .title {
            font-weight: bolder;
            font-size: large;
            color: $primary-color;
        }
    }
    .body {
        //margin-top: 2em;
        display: flex;
        flex-flow: column;

        .detail {
            display: flex;
            justify-content: space-between;

            .poster {
                width: 200px;
                height: 250px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
        .description {

        }
        div {
            margin-top: 0.5em;
        }
        .value {
            font-weight: bolder;
        }
        .title {
            color: $primary-color;
        }
        .file-size {
            color: yellow;
        }
        .description {
            font-size: small;
            word-wrap: break-word;
            width: 50em;
        }
    }
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
