.add-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
    margin-bottom: 2em;
}
.input-form{
    .input-wrapper{
        display: flex;
        flex-flow: column;
    }
}
.pagination-wrapper {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}
.add-btn {
    background-color: $primary-color;
    color: white;
    font-weight: bolder;
}
.input-form {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    .input-wrapper {
        width: fit-content;

        input {
            width: 40em;
            padding: 1em;
            margin-top: 1em;
        }
        textarea{
            margin-top: 1em;
        }
        select {
            margin-top: 1em;
        }
        .checkbox{
            width: 1em;
            height: 1em;
        }
    }
}
.store-btn-wrapper{
    margin-top: 3em;
    justify-content: flex-end;
    display: flex;
}
.movies {
    .movie-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .movie-item{
            height: 100px;
        }
    }
}
.series {
    .serie-list{
        display: flex;
        flex-wrap: wrap !important;
        flex-flow: row;
        .serie-item {
            width: 200px;
            height: 100px;
            position: relative;
            background-color: $primary-color;
            margin: 1em;
            border-radius: 5px;
            padding: 1em;

            .title {
                top: 1%;
                left: 3%;
                position: absolute;
                color: white;
                font-weight: bolder;
            }
            .year {
                bottom: 1%;
                right: 3%;
                position: absolute;
                color: $primary-color;
                font-weight: bolder;
            }

            img {
                width: 200px;
                height: 100px;
                object-fit: cover;
            }
        }
    }
}
