.admin-menu {
    i {
        margin-right: 1em;
    }
    .link-active {
        background-color: white;
        color: $primary-color;
    }
    .link-active:hover {
        background-color: $lighter-white;
    }
}
