.tags {
    .tag-list{
        display: flex;
        flex-wrap: wrap;

        .tag-item{
            position: relative;
            height: 70px;
            width: 150px;
            margin: 1em;
            border-radius: 5px;
            background-color: $primary-color;
            background-size: cover;


            .actions-wrapper{
                position: absolute;
                top: 0%;
                display: flex;
                justify-content: flex-end;
                width: 100%;
                padding-right: 0.3em;
                padding-top: 0.3em;
                background: rgba(76, 175, 80, 0.3) ;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .tag-title {
                text-align: center;
                font-weight: bolder;
                background-color: $primary-color;
                color: white;
                border-top-right-radius: 5px;
                border-top-right-radius: 5px;
            }
            img {
                max-height: 100px;
                object-fit: cover;
                width: 130px;
                height: 50px;

                -webkit-filter: blur(0.1px); //change the value according to what suits the best
                -moz-filter: blur(0.1px); //change the value according to what suits the best
                -o-filter: blur(0.1px); //change the value according to what suits the best
                -ms-filter: blur(0.1px); //change the value according to what suits the best
                filter: blur(0.1px); //change the value according to what suits the best
            }
        }

    }
}
