.user-app {
    padding:1em 1em 1em 1em;

    .main-menu {
        display: flex;
        flex-flow: column;
        justify-content: center;
        .series {
            @extend .menu-card;
        }
        .movies {
            @extend .menu-card;
        }
        .menu-card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 5px;
            padding: 1em;
            margin: 0.5em;
            //border: 1px solid $primary-color;

            min-height: 150px;

            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            .title{
                font-weight: bolder;
                color: $primary-color;
                font-size: larger;
            }
            span {
                color: $primary-color;
                font-size: small;
            }
        }
    }
    .filter-wrapper{
        .search-form {
            .search-box-wrapper{
                margin-right: 0em !important;
                border-radius: 10px;
                border: 1px solid $primary-color;
            }
        }
        .filters {
            display: flex;
            justify-content: space-between;
            margin-top: 1.2em;
            padding: 0em;
            label {
                font-size: smaller;
                text-align: center;
                width: 100%;
                margin-bottom: 0em;
            }
            select {
                width: 100%;
                font-size: small;
               background-color: white;
                border-radius: 5px;
               // border: 1px solid $primary-color;
                padding: 0.3em;
                color: $primary-color;
                text-align: center;
            }

            .year-filter {
                flex: 1;
            }
            .country-filter {
                flex: 1;
                margin-right: 0.5em;
                margin-left: 0.5em;
            }
            .category-filter{
                flex:1;
            }
        }
    }
    .items-list {
        margin-top: 2em;
        display: flex;
        flex-flow: column;
        .item {
            height: 150px;
            padding: 0.5em;
            margin: 0.2em;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;


            .img {
                flex: 1;
                img {
                    width: 100px;
                    height: 130px;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
            .info {
                flex: 3;
                margin-left: 0.5em;
                .title {
                    color: $primary-color;
                    font-size: medium;
                    font-weight: bold;
                }
                .status {
                    font-size: small;
                    color: darkblue;
                    .type {

                    }
                    .value {
                        color: $primary-color;
                        color: black;
                    }
                }
            }

        }
    }
    .pagination-wrapper {
        font-size: xx-small;
    }

}
@media screen and ( max-width: 400px ){

    li.page-item {

        .page-link{
            padding:0.5rem 0.5rem !important;
        }
    }
}
.user-modal-wrapper{
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
    /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;

        height: fit-content;
        z-index: 10000;
        margin-bottom: 0em;
        min-height: 100%;

        .header-wrapper {
            display: flex;
            justify-content: space-between;

            .title {
                font-weight: bolder;
                font-size: large;
                color: $primary-color;
            }
        }
        .body {
            //margin-top: 2em;
            display: flex;
            flex-flow: column;

            .detail {
                display: flex;
                justify-content: space-between;
                border-radius:5px;
                background-size: cover;
                .info {
                    background-color:rgba(0,0,0,0.5);
                    border-radius: 5px;
                    color: white;
                    padding: 1em;
                }
            }
            .actions-wrapper{
                margin-top: 2em;
                display: flex;
                justify-content: flex-end;
                .add-btn{
                    background-color: white;
                    color: $primary-color;
                    padding: 0.3em 0.5em 0.3em 0.5em;
                    border-radius: 5px;
                    border: 1px solid $primary-color;
                    font-size: small;

                    i {
                        color: $primary-color;
                    }
                }

                .added{
                    background-color: green;
                    border: none;
                    color: white;
                    font-size: small;
                    i {
                        margin-left: 00.2em;
                        color: white;
                    }
                }
                .confirmed {
                    background-color: $primary-color;
                    color: white;
                }
                .disabled {
                    background-color: white;
                    color: $primary-color;
                    cursor: not-allowed;

                }
            }
            .description {

            }

            .value {
                font-weight: bolder;
            }
            .title {
                color: $primary-color;
            }
            .file-size {
                color: yellow;
            }
            .description {
                margin-top: 1em;
                font-size: small;
                word-wrap: break-word;
            }
        }
    }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}



.cart-modal-wrapper{
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
    /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;

        height: fit-content;
        z-index: 10000;
        margin-bottom: 0em;
        min-height: 100%;

        .header-wrapper {
            display: flex;
            justify-content: space-between;

            .title {
                font-weight: bolder;
                font-size: large;
                color: $primary-color;
            }
        }
        .body {
            margin-top: 2em;
            display: flex;
            flex-flow: column;
            //padding: 2em;
            .item {
                display: grid;
                grid-template-columns: 1fr 2fr 3fr 1fr;
            }
        }
        .confirm-section {
            display: flex;
            margin-top: 2em;
            justify-content: flex-end;
            a {
                padding: 0.5em 1em 0.5em 1em;
                background-color: $primary-color;
                color: white;
            }
        }
    }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
.nav-link{
    color: $primary-color !important;
}
.navbar-brand{
    font-weight: bolder;
    color: $primary-color !important;
}

.copylist-table{
    width: 100%;
    tr {
        border-bottom: 1px solid $primary-color;
    }
    td,th{
        padding: 1em;
    }
}
.cart-section {
    position: fixed;
    right: 0em;
    top: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    border-left: 1px solid $primary-color;
    cursor: pointer;


    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


    i {
        color: $primary-color;
    }
    .added-count{
        border-radius: 100%;
        background-color: red;
        color: white;
        padding: 0.3em;
    }
}
